<h1 class="text-center text-[24px]  font-extrabold text-white">My Habit</h1>

<div class="box-content bg-[#2EB7AC] py-[12px] px-[16px] text-center rounded-[20px]">
    <%= link_to "新規登録", new_registration_path(resource_name) %>
</div>

<div class="box-content bg-[#2EB7AC] py-[12px] px-[16px] text-center rounded-[20px]">
    <%= link_to "ログイン", new_session_path(resource_name) %>
</div>
