<h1 class="text-white font-bold text-[32px] text-center mb-[24px]">ダイエットを習慣化しよう</h1>
<p class="text-[#656565]">✔️日々の体重・体脂肪率・ダイエットのモチベーションを記録</p>
<p class="text-[#656565]">✔️自分で設定したオリジナルの習慣を習慣トラッカーで追跡</p>
<p class="text-[#656565]">✔️体重推移と日々の習慣達成度をグラフで確認</p>
<div class="mt-[24px] text-[#2EB7AC] link"><%= link_to "ログインはこちら", new_user_session_path %></div>
<div class="mt-[24px] text-[#2EB7AC] link"><%= link_to "新規登録はこちら", new_user_registration_path %></div>

<p>ステップ1. 今日の体重を記録しよう</p>


