<h1 class="text-[32px] font-bold text-white ml-[24px] pt-[24px]">新規作成</h1>
<%= render "form", daily_record: @daily_record, submit_text: "保存" %>
<p class="m-[24px]"><%= link_to "一覧へ戻る", daily_records_path %></p>
