<div class="px-[24px]">
  <h1 class="text-[32px] font-bold text-white pt-[24px] mb-[32px]">習慣一覧</h1>

  <table class="w-full table-fixed border-collapse"> 
    <tbody>
      <% @habits.each do |habit| %>
        <tr>
          <td class="p-0 w-full">
            <div class="border border-white bg-white/30 mb-[24px] py-[24px] px-[16px] rounded-[20px] flex shadow-xl">
              <div class="min-w-0 mr-[32px]"><%= habit.name %></div>
              <div class="ml-auto"><%= link_to "編集", edit_habit_path(habit), class: "rounded-[20px] bg-[#2EB7AC] text-white py-[12px] px-[16px]" %></div>
              <%= button_to habit_path(habit), method: :delete, data: { turbo: false }, form: { data: { turbo_confirm: "削除しますか？" } }, class: "ml-[24px] text-[#A2A2A2] inline-flex" do %>
                <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.4872 4.08674C22.4872 4.08674 22.6617 4.20978 19.9478 3.38561C17.515 2.64709 15.2138 2.48859 15.2138 2.48859L15.0543 1.35791C14.9446 0.577559 14.3058 0 13.5533 0H11.7574H9.96141C9.20994 0 8.57104 0.577559 8.46047 1.35791L8.30098 2.48859C8.30098 2.48859 6.0007 2.64709 3.56789 3.38561C0.853066 4.20984 1.0275 4.08674 1.0275 4.08674C0.422578 4.25367 0 4.82824 0 5.48502V6.46324H11.7574H23.5158V5.48502C23.5158 4.82824 23.0932 4.25367 22.4872 4.08674Z" fill="#656565"/>
                  <path d="M1.94887 27.2303C2.08739 28.798 3.40048 30 4.97471 30H18.5406C20.1142 30 21.4278 28.798 21.5664 27.2303L23.0688 8.05786H0.446472L1.94887 27.2303ZM16.7979 12.2991C16.8278 11.8067 17.2509 11.4315 17.7432 11.4614C18.2355 11.4913 18.6103 11.9144 18.5809 12.4067L17.7317 26.4395C17.7019 26.9318 17.2788 27.3066 16.7865 27.2767C16.2941 27.2468 15.9189 26.8243 15.9488 26.3319L16.7979 12.2991ZM10.8644 12.3529C10.8644 11.8595 11.2641 11.4599 11.7574 11.4599C12.2507 11.4599 12.6503 11.8595 12.6503 12.3529V26.3856C12.6503 26.879 12.2507 27.2786 11.7574 27.2786C11.264 27.2786 10.8644 26.8789 10.8644 26.3856V12.3529ZM5.77153 11.4614C6.26389 11.4315 6.687 11.8067 6.71688 12.2991L7.56702 26.3318C7.5969 26.8242 7.22167 27.2467 6.72936 27.2766C6.237 27.3065 5.81389 26.9317 5.78401 26.4394L4.93388 12.4066C4.90393 11.9144 5.27917 11.4913 5.77153 11.4614Z" fill="#656565"/>
                </svg>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p class="mx-[24px] mb-[24px]">
<%= link_to new_habit_path,
  class: "inline-flex fixed bottom-24 right-24",
  title: "タスク追加", aria: { label: "タスク追加" } do %>
  <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_360_668)">
    <circle cx="41" cy="37" r="34" fill="#2EB7AC"/>
    </g>
    <path d="M38.648 46.608V39.92H32.248V35.92H38.648V29.2H42.808V35.92H49.24V39.92H42.808V46.608H38.648Z" fill="white"/>
    <defs>
    <filter id="filter0_d_360_668" x="0" y="0" width="82" height="82" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="3.5"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_360_668"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_360_668" result="shape"/>
    </filter>
    </defs>
  </svg>
  <span class="sr-only">タスク追加</span>
<% end %>
</p>
