<h1 class="text-[32px] text-white font-bold mb-[24px] px-[24px] pt-[24px]">習慣追加</h1>
<%= render "form", habit: @habit, submit_text: "保存" %>
<p class="px-[24px] link text-[#2EB7AC]"><%= link_to "一覧へ戻る", habits_path %></p>
